#bg-canvas {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;

    z-index: 0;
    pointer-events: none;
    display: block;
    margin: 0;
    padding: 0;
}

#sidebar,
#topbar-wrapper,
#main-wrapper {
    position: relative;
    z-index: 1;
}
